body::before {
	/* since navbar is fixed the content of the next section got cut off
	   so we put some space before the body */
	display: block;
	content: '';
	height: 60px;
}

@media(min-width: 768px) {
	.news-input {
		/* to make form control to enter email not too wide on big screens */
		width: 50%;
	}
}

#map {
	/* styles for the map */
	with:  100%;
	height: 100%;
	border-radius: 10px;
}